body
{
    background-color: burlywood;
}
label{
    display: inline-block;
    min-width: 70px;
}

div{
    position: absolute;
    width: 750px;
    height: 500px;
    top: 20%;
    left: 40%;
}
td{
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
    border: 2px solid blue;
    text-align: center;
}
.joueurActif{
    background-color: lightcyan;
}
.celluleinvalide{
    background-color: red;
}
.cellulegagnante
{
    background-color: lightgreen;
}
#resultat
{
    font-size: x-large;
    color: navy;
}